#bar {
	z-index: 99;
	width: 100%;
	height: 70px;
	background-color: #E1E5EA;
	box-shadow: 0px 8px 10px 4px rgba(117, 151, 214, 0.377);
	position: fixed;
	top: 0;
	padding-left: 6px;
}

/* align button start */

  #p1 {
	padding: 15px;
	margin: 10px 0px 8px 4px;
	text-align: center;
	color: blue;
}

#p2 {
	padding: 15px;
	margin: 10px 0px 8px 4px;
	text-align: center;
	color: blue;
}

#p3 {
	padding: 15px;
	margin: 10px 0px 8px 4px;
	text-align: center;
	color: blue;
}

#p4 {
	padding: 15px;
	margin: 10px 0px 8px 4px;
	text-align: center;
	color: blue;
}
#p5 {
	padding: 15px;
	margin: 10px 0px 8px 4px;
	text-align: center;
	color: blue;
}